  <footer class="footer">
    <div class="footer-top-curve"></div>
    <div class="footer-quote">&ldquo;Conectando estudiantes,<br>un viaje a la vez.&rdquo;</div>
    <div class="footer-grid">
      <div class="footer-col">
        <div class="footer-col-title">Ubicación</div>
        <p>Universidad Católica de Colombia<br>Sede Campus<br>Bogotá, Colombia</p>
      </div>
      <div class="footer-col">
        <div class="footer-col-title">Contacto</div>
        <a href="mailto:info@universiapp.co">info@universiapp.co</a>
        <a href="tel:+571234567890">+57 601 234 5678</a>
      </div>
      <div class="footer-col">
        <div class="footer-col-title">Social</div>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
        <a href="#">WhatsApp</a>
      </div>
    </div>
    <div class="footer-copyright">&copy; <%= new Date().getFullYear() %> UniversiApp. All rights reserved.</div>
  </footer>

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="/script.js"></script>
</body>
</html>
